.header-container {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 1rem;
}

.header-container > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  font-family: "Inter-Regular";
}
.header-container > p > span {
  font-family: "Inter-Regular";
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}
.table-title {
  padding-top: 30px;
}
.table-title > h3 {
  font-family: "Inter-Regular";
  font-size: 30px;
  font-weight: 500;
  line-height: 38px;
  text-align: left;
  font-weight: 600;
}
.table-container {
  border: none;
  box-shadow: 0px 4px 18px 0px #4b465c1a !important;
  background: #ffffff !important;
  padding: 1rem 0;
}
.table-wraper {
  margin-top: 1rem;
  overflow-x: scroll;
  min-width: auto;
  min-height: 50vh;
  border: 1px solid rgb(210, 208, 208);
}
.table-column {
  height: 62px !important;
  padding: 10px;
  gap: 10px;
  border-bottom: 1px solid var(--Gray-300, #d0d5dd);
}

.headeName {
  text-transform: uppercase !important;
  font-family: "Inter-Regular";
  font-size: 10px;
  font-weight: 600;
  line-height: 15.51px;
  letter-spacing: 1px;
  text-align: left;
}

.column-text {
  font-family: "Inter-Regular";
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  color: var(--Gray-500, #667085);
}
.pagination-wrapper {
  display: flex;
  justify-content: end;
  padding: 1rem 1rem 0rem 0rem;
}

.transparent-backdrop {
  background-color: rgba(0, 0, 0, 0.4) !important; /* Fully transparent */
}

/* .no-data-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 90vw;
} */
