.usercardwrapper {
  width: 100%;
  padding: 24px 48px 0 48px;
  gap: 16px;
  border-radius: 6px 0px 0px 0px;
  opacity: 0px;
}

.drop-dwon-light {
  background: var(--indigo-200) !important;
  padding: 0;
  text-wrap: nowrap;
  width: 100%;
}

.drop-dwon-light .dropdown-toggle::after {
  display: none;
}

.main-container {
  background: var(--primary-50);
}

.w-150 {
  width: 180px;
}
