.signup-css {
  padding: 64px;
  border-radius: 16px;
  background-color: var(--indigo-600);
}

.signup-title {
  font-family: "Inter-ExtraBold";
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.signup-sub-title {
  font-family: "Inter-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--slate-50);
}

.signup-slider-bg {
  background-color: var(--indigo-700);
  padding: 5px 24px 5px 24px;
  border-radius: 16px;
}

.slider-signup-text {
  font-family: "Inter-Medium";
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.slider-signup-name {
  font-family: "Inter-Bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.slider-signup-designation {
  font-family: "Inter-Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.radio-border {
  border: 1px solid var(--indigo-400);
  font-family: "Inter-SemiBold";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 5px;
  padding: 10px 10px 10px 30px;
}

.signup-label {
  font-family: "Inter-Regular";
  font-size: 14px;
  font-weight: 200 !important;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #505153;
}
.signup-button {
  font-family: "Inter-bold" !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  letter-spacing: 0em !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.signup-placeholder {
  font-size: "1rem" !important;
  /* font-family: "Inter-medium" !important; */
  font-weight: 400 !important;
}
.signup-placeholder::placeholder {
  color: rgb(161, 154, 154) !important;
  opacity: 1;
}

.signup-label-mandatory {
  font-family: "Inter-Medium";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #ef4444;
}

.signinup-common-title {
  font-family: "Inter-Bold";
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--slate-900);
}

.signinup-common-sub1 {
  font-family: "Inter-Regular";
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--slate-600);
  font-size: 16px;
}
.forgot-password-link {
  margin-left:"10px" !important;
}

.signinup-common-sub2 {
  font-family: "Inter-Bold";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--indigo-600);
}

.set-height {
  height: 400px !important;
}

.resetLink {
  color: rgb(79, 70, 229);
}
.signUpRight > .Row {
  max-height: 86vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

@media only screen and (max-width: 600px) {
  .set-height {
    height: 300px !important;
  }
}
